@import "../var/var";
@import "../fonts/fonts";

#main_wrapper {
    .about_us {
        // border: 1px solid transparent;
        overflow: hidden;
        position: relative;
        z-index: 3;
        // &::before {
        //     position: absolute;
        //     display: block;
        //     content: "";
        //     bottom: -90px;
        //     left: 0;
        //     right: 0;
        //     // width: 2000px;
        //     height: 220px;
        //     background: #0b0b0c;
        //     filter: blur(32px);
        //     z-index: -1;
        // }

        .container {
            // position: relative;
            max-width: 1164px;
            margin: 0 auto;
            border: 1px solid transparent;

            .title {
                color: $white;
                font-family: SF Pro Display;
                font-size: 60px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                margin-top: 240px;
            }

            .line {
                margin-top: 21px;
                height: 2px;
                max-width: 455px;
                margin-left: 0;
                background: linear-gradient(270deg, rgba(2, 255, 121, 0) 0%, $green 48.79%, rgba(2, 255, 121, 0) 100%);
            }

            .desc {
                color: $white;
                font-family: SF Pro Display;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
                margin-top: 22px;
            }

            .buttons {
                display: flex;
                gap: 15px;
                margin-top: 196px;

                .sign_in,
                .sign_up {
                    height: 48px;
                }

                .sign_in {
                    background: $green;
                    width: 100px;
                    color: #000;
                    text-align: center;
                    font-family: SF Pro Display;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 48px;

                    &:hover {
                        background: $green2;
                    }
                }

                .sign_up {
                    border: none;
                    background: transparent;
                    width: 109px;

                    &:hover {
                        svg {
                            rect {
                                fill: #1e1e1e;
                            }

                            linearGradient{
                                stop{
                                    stop-opacity: 1;
                                }
                            }
                        }
                    }
                }
            }

            .about {
                max-width: 725px;
                margin: 203px auto 60px;
                padding-top: 60px;
                // background: #0b0b0c;
                position: relative;
                z-index: 3;

                .title {
                    color: $white;
                    text-align: center;
                    font-family: SF Pro Display;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 52.007px;
                    margin-top: 0;
                    
                }

                .text {
                    margin-top: 15px;
                    color: $white;
                    text-align: center;
                    font-family: SF Pro Display;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                }
            }
        }
    }
    @media only screen and (max-width: 1500px) {
        .about_us {
            .container {
                .title {
                    font-size: 60px;
                    margin-top: 122px;
                }

                .desc {
                    font-size: 20px;
                    line-height: 25px;
                }

                .buttons {
                    margin-top: 146px;
                }

                .about {
                    margin: 103px auto 60px;

                    .title {
                        font-size: 36px;
                        line-height: 52.007px;
                    }

                    .text {
                        margin-top: 15px;
                        font-size: 17px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1150px) {
        .about_us {
            .container {
                .title {
                    font-size: 60px;
                    margin-top: 90px;
                }

                .desc {
                    font-size: 20px;
                    line-height: 25px;
                }

                .buttons {
                    margin-top: 100px;
                }

                .about {
                    margin: 50px auto 60px;

                    .title {
                        font-size: 36px;
                        line-height: 52.007px;
                    }

                    .text {
                        margin-top: 15px;
                        font-size: 17px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 500px) {
        .about_us {
            &::before {
                bottom: 0px;
            }

            .container {
                .title {
                    font-size: 34px;
                    margin-top: 306px;
                }

                .desc {
                    font-size: 14px;
                    line-height: 140%;
                    margin-top: 20px;
                }

                .buttons {
                    margin-top: 50px;
                }

                .about {
                    margin: 167px auto 60px;

                    .title {
                        font-size: 36px;
                        line-height: 52.007px;
                    }

                    .text {
                        margin-top: 15px;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
