@import "../var/var";
@import "../fonts/fonts";

#main_wrapper {
    .green {
        color: $green;
    }
    .bold {
        font-weight: 700;
    }
    .features {
        border: 1px solid transparent;
        position: relative;
        background: $bg;
        padding-bottom: 16px;
        overflow-x: clip;
        z-index: 9;

        .line_mask {
            position: absolute;
            width: 103%;
            background: $bg;
            top: -4px;
            left: -6px;
            transform-origin: right;
            transform: rotate(2.39deg);
            height: 165px;
        }

        .green_line {
            width: 103%;
            height: 2px;
            background: linear-gradient(270deg, rgba(2, 255, 121, 0) 0%, $green 48.79%, rgba(2, 255, 121, 0) 100%);
            transform-origin: left;
            // transform: rotate(2.39deg);
        }

        .container {
            padding-top: 61px;
            max-width: 1380px;
            margin: 0 auto;

            .top {
                max-width: 719px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;

                .title {
                    color: $white;
                    text-align: center;
                    font-family: SF Pro Display;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 52.007px;
                }

                .desc {
                    color: $white;
                    text-align: center;
                    font-family: SF Pro Display;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                }

                .join {
                    padding: 18px 26px;
                    background: $green;

                    color: $black;
                    text-align: center;
                    font-family: SF Pro Display;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;

                    &:hover {
                        background: $green2;
                    }
                }
            }

            .carts {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;
                margin-top: 40px;

                .cart {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 60px 75px 80px;
                    min-height: 400px;
                    background: $bg5;
                    border-radius: 30px;
                    transition: 0.2s linear;
                    border: 2px solid transparent;

                    &:hover {
                        background: #000;
                        border: 2px solid $green;
                        .img {
                            .hover {
                                opacity: 1;
                            }
                        }
                    }

                    &.last {
                        grid-column: span 2;
                    }

                    &.left_animate {
                        transform-origin: left 100%;
                    }
                    &.right_animate {
                        transform-origin: right 100%;
                    }

                    .title {
                        color: $white;
                        text-align: center;
                        font-family: SF Pro Display;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 140%;
                    }

                    .img {
                        position: relative;
                        img {
                            position: relative;
                            z-index: 2;
                        }

                        .hover {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            opacity: 0;
                            // translate: opacity .3s linear;
                        }
                    }
                }
            }
        }
        @media only screen and (max-width: 1100px) {
            .container {
                .carts {
                    grid-template-columns: 1fr;
                    .cart {
                        &.last {
                            grid-column: span 1;
                            transform-origin: left 100%;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 574px) {
            .container {
                .carts {
                    .cart {
                        padding: 40px 20px 60px;
                    }
                }
            }
        }
    }
}
