@import "../var/var";
@import "../fonts/fonts";

#main_wrapper {
    // background: url(../../images/bg.png) #0B0B0C;
    // background-repeat: no-repeat;
    // background-position: top -113px center;
    .header {
        padding: 20px 20px 0;
        .container {
            max-width: 1160px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            padding: 7px 0;
            // border-radius: 500px;
            // background: #000;

            .logo {
                h2 {
                    color: $white;
                    font-family: Muller;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    letter-spacing: 9px;
                    text-transform: uppercase;
                }
            }

            .nav {
                display: flex;
                justify-content: center;
                gap: 40px;

                ul {
                    display: flex;
                    gap: 40px;
                    align-items: center;
                    height: 49px;

                    li{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-end;
                        height: 100%;
                    }

                    a {
                        color: $white;
                        text-decoration: none;
                        font-family: SF Pro Display;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        // line-height: 48px;
                        text-transform: uppercase;
                        &:hover + .line {
                            // transform: scaleX(1);
                            width: 90%;
                        }
                    }

                    .line {
                        margin: 9px 3px 4px;
                        height: 1px;
                        background: $white;
                        // transform: scaleX(0);
                        transition: width 0.2s linear;
                        width: 0%;
                    }
                }
            }
            .sign_in {
                margin-right: 9px;
                border: none;
                background: $green;
                color: $black;
                padding: 9px 24px;
                text-align: center;
                font-family: SF Pro Display;
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
            }
        }
    }
}
