@import "../var/var";
@import "../fonts/fonts";

#main_wrapper {
    .nums {
        border: 1px solid transparent;
        position: relative;
        background: $bg;
        z-index: 1;
        overflow-x: clip;

        .line_mask {
            position: absolute;
            width: 110%;
            background: $bg;
            bottom: -2px;
            right: 0;
            transform-origin: right;
            transform: rotate(-5deg);
            height: 400px;
            display: flex;
            align-items: flex-end;
        }

        .green_line_dl {
            width: 103%;
            height: 2px;
            background: linear-gradient(270deg, rgba(2, 255, 121, 0) 0%, #02ff79 48.79%, rgba(2, 255, 121, 0) 100%);
            transform-origin: left;
            opacity: 0;
            // transform: rotate(2.39deg);
        }

        .container {
            padding-bottom: 16px;
            position: relative;
            z-index: 9999;
            display: flex;
            max-width: 1163px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;

            .item {
                .title {
                    text-align: center;
                    color: $green;
                    font-family: SF Pro Display;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 100%;
                }
                .desc {
                    text-align: center;
                    margin-top: 10px;
                    color: $white;
                    font-family: SF Pro Display;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }
            }
        }
    }
    @media only screen and (max-width: 766px) {
        .nums {
            .container {
                justify-content: center;
                flex-wrap: wrap;
            }
        }
    }
    @media only screen and (max-width: 460px) {
        .nums {
            padding-bottom: 24px;
            .container {
                // flex-direction: column;
                // justify-content: center;
                // flex-wrap: wrap;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                .item {
                    .title {
                        font-size: 24px;
                    }
                    .desc {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
