@import "../var/var";
@import "../fonts/fonts";

#main_wrapper {
    .offer {
        background: $bg2;
        padding-top: 150px;
        padding-bottom: 177px;
        border: 1px solid transparent;
        position: relative;

        .container {
            max-width: 1380px;
            margin: 0 auto;
            // position: relative;
            // position: relative;
            z-index: 999;
            height: 600px;

            .title {
                color: $white;
                text-align: center;
                font-family: SF Pro Display;
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: 52.007px;
                position: relative;
                z-index: 9999;
            }

            .desc {
                margin-top: 15px;
                color: $white;
                text-align: center;
                font-family: SF Pro Display;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
                position: relative;
                z-index: 9999;
            }
            // .join {
            // }

            .main_canva {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                color: #fff;
            }

            .items {
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
                margin-top: 58px;

                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 60px 0;
                    border-radius: 20px;
                    background: $bg3;
                    width: 100%;
                    max-width: 322px;
                    max-height: 550px;
                    position: relative;
                    min-height: 393px;

                    .text {
                        color: $white;
                        opacity: 0.4;
                        text-align: center;
                        font-family: SF Pro Display;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 27.001px;
                        position: relative;
                        z-index: 999;
                    }

                    .title {
                        color: $green;
                        text-align: center;
                        font-family: SF Pro Display;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 44px;
                        margin-top: 10px;
                        position: relative;
                        z-index: 999;
                    }

                    .img {
                        margin-top: 45px;
                    }
                    .canvas3d {
                        position: absolute;
                        top: 10px;
                        bottom: 10px;
                        left: 10px;
                        right: 10px;
                    }
                }
            }
        }
    }
}
