$green: #02FF79;
$green2: #00CD47;
$black: #000;
$black2: #212121;
$white: #fff;
$white2: #3C3C3C;
$white3: #F5F5F5;
$gray: #717171;
$gray2: #7B7B7B;
$bg: #0B0B0C;
$bg2: #151414;
$bg3: #020202;
$bg4: #141414;
$bg5: #202224;
$bg6: #212225;