@import "./indexPage/header";
@import "./indexPage/aboutUs";
@import "./indexPage/nums";
@import "./indexPage/offer";
@import "./indexPage/features";
@import "./indexPage/payounts";
@import "./indexPage/work";
@import "./indexPage/design";
@import "./indexPage/partners";
@import "./indexPage/follow_us";
@import "./indexPage/footer";
@import "./indexPage/other_offer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // scroll-behavior: smooth;
}

img {
    display: block;
}

ul {
    list-style: none;
}

body {
    background: #0b0b0c;
    &.active {
        overflow: hidden;
    }
}

#main_wrapper {
    position: relative;
    overflow: hidden;

    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: -99999;
        background: $bg;

        &.active {
            display: flex;
            z-index: 99999;
        }

        img {
            display: block;
            width: 200px;
            height: 200px;
        }
    }
}

.button {
    display: block;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
}

section {
    padding: 0 20px;
}

.main_video {
    position: absolute;
    z-index: 2;
    width: 100%;
    right: 0;
    // left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    min-width: 1200px;
    overflow: hidden;

    #video-background {
        max-width: 1920px;
        width: 100%;
    }

    &::before {
        position: absolute;
        display: block;
        content: "";
        bottom: -100px;
        left: 0;
        right: 0;
        // width: 2000px;
        height: 220px;
        background: #0b0b0c;
        filter: blur(32px);
        z-index: 1;
    }
}

.animate_text,
.animate_tl,
.green_line,
.left_animate,
.right_animate,
.animate,
.green_line_dl,
.animate_img {
    will-change: transform;
}

@media only screen and (max-width: 500px) {
    .main_video {
        left: auto;
        right: -28%;
    }
}
