@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'SF Pro Display';
    src: url(../../fonts/SFPRODISPLAYREGULAR.OTF) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url(../../fonts/SFPRODISPLAYBOLD.OTF);
    font-weight: bold;
    font-style: normal;
}


// Muller

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerUltraLight.eot');
    src: local('Muller UltraLight'), local('MullerUltraLight'),
        url('../../fonts/miller/MullerUltraLight.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerBoldItalic.eot');
    src: local('Muller Bold Italic'), local('MullerBoldItalic'),
        url('../../fonts/miller/MullerBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerMedium.eot');
    src: local('Muller Medium'), local('MullerMedium'),
        url('../../fonts/miller/MullerMedium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerExtraBoldItalic.eot');
    src: local('Muller ExtraBold Italic'), local('MullerExtraBoldItalic'),
        url('../../fonts/miller/MullerExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerUltraLightItalic.eot');
    src: local('Muller UltraLight Italic'), local('MullerUltraLightItalic'),
        url('../../fonts/miller/MullerUltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerUltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerRegular.eot');
    src: local('Muller Regular'), local('MullerRegular'),
        url('../../fonts/miller/MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerBlackItalic.eot');
    src: local('Muller Black Italic'), local('MullerBlackItalic'),
        url('../../fonts/miller/MullerBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerHairlineItalic.eot');
    src: local('Muller Hairline Italic'), local('MullerHairlineItalic'),
        url('../../fonts/miller/MullerHairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerHairlineItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerHeavyItalic.eot');
    src: local('Muller Heavy Italic'), local('MullerHeavyItalic'),
        url('../../fonts/miller/MullerHeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerHeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerThinItalic.eot');
    src: local('Muller Thin Italic'), local('MullerThinItalic'),
        url('../../fonts/miller/MullerThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerHairline.eot');
    src: local('Muller Hairline'), local('MullerHairline'),
        url('../../fonts/miller/MullerHairline.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerHairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerHeavy.eot');
    src: local('Muller Heavy'), local('MullerHeavy'),
        url('../../fonts/miller/MullerHeavy.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerThin.eot');
    src: local('Muller Thin'), local('MullerThin'),
        url('../../fonts/miller/MullerThin.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerLightItalic.eot');
    src: local('Muller Light Italic'), local('MullerLightItalic'),
        url('../../fonts/miller/MullerLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerLight.eot');
    src: local('Muller Light'), local('MullerLight'),
        url('../../fonts/miller/MullerLight.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerBlack.eot');
    src: local('Muller Black'), local('MullerBlack'),
        url('../../fonts/miller/MullerBlack.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerBold.eot');
    src: local('Muller Bold'), local('MullerBold'),
        url('../../fonts/miller/MullerBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerExtraBold.eot');
    src: local('Muller ExtraBold'), local('MullerExtraBold'),
        url('../../fonts/miller/MullerExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerRegularItalic.eot');
    src: local('Muller Regular Italic'), local('MullerRegularItalic'),
        url('../../fonts/miller/MullerRegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerRegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../../fonts/miller/MullerMediumItalic.eot');
    src: local('Muller Medium Italic'), local('MullerMediumItalic'),
        url('../../fonts/miller/MullerMediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/miller/MullerMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}